@model PruebaASPNETEmbocador.Models.Usuarios


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Assets/css/loginAdminOk.css">

<div class="limiter">
    <div class="contenedorIdUsuario">

        <p>Ha iniciado sesión como: @ViewBag.NombreUsuario</p>
        <br />
        <h3>Panel de Administrador</h3>
        <br />

        <div class="containerNav">

            <nav class="barraNavAdmin">
                @Html.ActionLink("Administrar usuarios", "Index", "Usuarios", new { area = "", }, new { @class = "navLink" })
                @Html.ActionLink("Turnos y horarios", "Index", "InicioAdmins", new { area = "" }, new { @class = "navLink" })
                @Html.ActionLink("Gestionar mi usuario", "Edit", "Usuarios", new { id = Model.IDUsuario }, new { @class = "navLink" })
            </nav>

        </div>
        <div style="margin-top: 50px; margin-bottom: 50px;">
            @using (Html.BeginForm("Logout", "InicioAdmins", FormMethod.Post))
            {
                <button type="submit" class="btnCerrarSesion">Cerrar sesión</button>
            }
        </div>

    </div>
</div>

