.container-infoApp {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    background: #e11212;
    background: -webkit-linear-gradient(-135deg, #003366, #e11212);
    background: -o-linear-gradient(-135deg, #003366, #e11212);
    background: -moz-linear-gradient(-135deg, #003366, #e11212);
    background: linear-gradient(-135deg, #003366, #e11212);
}

body {
    overflow-y: auto; 
}

.welcomeTempus {
    margin: 0.2% 10% 2% 10%;
    color: black;
    padding: 25px;
    text-align: center;
}
    .welcomeTempus h2{
        color: #fff;
    }
    .welcomeTempus h3 {
        color: #fff;
    }
    .welcomeTempus h4 {
        color: #fff;
    }

.dis-flex2 {
    display: flex;
    align-items: center;
    gap: 24px; 
    justify-content: flex-start; 
}
    .dis-flex2 img {
        margin-top: 6%;
        max-width: 500px;
        height: auto;
        border-radius: 8px; 
        border:solid 3px black;
    }