body {
    background: #4CAF50;
    background: -webkit-linear-gradient(-135deg, #003366, #4CAF50);
    background: -o-linear-gradient(-135deg, #003366, #4CAF50);
    background: -moz-linear-gradient(-135deg, #003366, #4CAF50);
    background: linear-gradient(-135deg, #003366, #4CAF50);
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.contenedorIdUsuario {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
    .contenedorIdUsuario p{
        font-size: 25px;
    }
    .contenedorIdUsuario h3{
        font-size: 50px;
    }

.containerNav {
    margin-top: 20px;
}

.barraNavAdmin {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}
    .barraNavAdmin a {
        font-size: 30px;
    }
.navLink {
    color: #003366;
    font-size: 18px;
    margin: 10px 0;
    text-decoration: none;
}

    .navLink:hover {
        color: #4CAF50;
        text-decoration: none;
    }

.btnCerrarSesion {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    .btnCerrarSesion:hover {
        background-color: #4CAF50;
        color: black;
    }


